* {
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.accueil picture {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: hidden;
  z-index: -100;
}

.accueil h1 {
  font-family: "Cinzel", serif;
  font-weight: 700;
  color: #99202f;
  font-size: 4rem;
  text-align: center;
}

.accueil .container-fluid {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.accueil .contraste {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  opacity: 50%;
}

.accueil header p {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  color: black;
}

.accueil img.image {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.accueil a.btn {
  border-radius: 4px;
  text-align: center;
  background-color: #99202f;
  text-decoration: none;
  color: #fff;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
}

.accueil a.btn:hover {
  background-color: #c63f50;
  color: #fff;
}

@media (orientation: landscape) {
  .accueil header {
    height: 56.25%;
  }
}

@media (orientation: portrait) {
  .accueil img.image {
    object-fit: cover;
    object-position: 0% 50%;
  }
  .accueil picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }
  .accueil h1 {
    font-size: 2.7rem;
  }
  .accueil p {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

.navbar {
  background-color: black;
}

.footer {
  background-color: #99202f;
  position: absolute;
  top: 250%;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
}

.h4 {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1rem;
}

.accueil .block {
  height: 800px;
}

.teal {
  background-color: teal;
}

.animation {
  background-color: transparent;
  width: 100%;
}

.accueil main .container-fluid {
  position: absolute;
  top: 150%;
}
