* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.accueil picture {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: hidden;
  z-index: -100;
}

.accueil h1 {
  font-family: "Cinzel", serif;
  font-weight: 700;
  color: #99202f;
  font-size: 4rem;
  text-align: center;
}

.accueil .container-fluid {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.accueil .contraste {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  opacity: 50%;
}

.accueil header p {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  color: black;
}

.accueil img.image {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.accueil a.btn {
  border-radius: 4px;
  text-align: center;
  background-color: #99202f;
  text-decoration: none;
  color: #fff;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
}

.accueil a.btn:hover {
  background-color: #c63f50;
  color: #fff;
}

@media (orientation: landscape) {
  .accueil header {
    height: 56.25%;
  }
}

@media (orientation: portrait) {
  .accueil img.image {
    object-fit: cover;
    object-position: 0% 50%;
  }
  .accueil picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }
  .accueil h1 {
    font-size: 2.7rem;
  }
  .accueil p {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .accueil .contenu {
    position: relative;
    top: 18%;
  }
  .accueil footer {
    position: absolute;
    margin-top: 1500%;
  }
}

.navbar {
  background-color: black;
}

/*/ Cards/*/

.accueil h2 {
  font-family: "Cinzel", serif;
  font-weight: 700;
  color: #3e3b3b;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 20px;
}

.accueil h3 {
  font-family: "Cinzel", serif;
  font-size: 2rem;
  color: #99202f;
  text-align: center;
}

.accueil h4 {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 1rem;
  text-align: center;
}

.accueil h5 {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1rem;
}

.accueil .block {
  height: 800px;
}

.accueil .animation {
  background-color: transparent;
  width: 100%;
}

.accueil main .container-fluid {
  position: absolute;
  top: 2200px;
}

.accueil .card {
  margin-bottom: 10px;
  margin-top: 10px;
}

.accueil .btnMembres {
  border-radius: 4px;
  text-align: center;
  background-color: #99202f;
  border: none;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
}

.accueil .btnMembres:hover {
  background-color: #c63f50;
  color: #fff;
}

.accueil h3 {
  color: rgb(67, 64, 64);
  font-family: "Cinzel", serif, bold;
}

/*/ Footer/*/

.accueil footer {
  background-color: #99202f;
  position: absolute;
  top: 4255px;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
}

.accueil h6 {
  color: #fff;
}

.h6:link {
  color: #fff;
}

.accueil footer a:hover {
  color: #3e3b3b;
}

/*/ Modal/*/

.accueil .modal-body img {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*/ Vidéo/*/

.accueil .video {
  position: absolute;
  top: 470%;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*/ Diaporama/*/

.accueil .diaporama {
  position: absolute;
  top: 800px;
  left: 50%;
  transform: translateX(-50%);
}

.accueil .diaporama h2 {
  text-align: center;
}

.accueil .swiper-container {
  width: 960px;
  height: 540px;
}

.accueil .diaporama img {
  object-fit: cover;
}

.accueil .swiper-pagination-bullet {
  background-color: #cab2b2;
  position: relative;
  left: 45%;
  bottom: 30%;
  margin-right: 10px !important;
}

.accueil .swiper-pagination-bullet-active {
  background-color: #c63f50;
}
