.discographie .heros {
  position: relative;
  height: 100vh;
  width: 100vw;
}

@media screen and (orientation: landscape) {
  .discographie .heros {
    height: 56.25vw;
  }
}

.discographie .heros picture {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
}

.discographie .heros picture .image {
  object-fit: contain;
}

.discographie .image {
  width: 100%;
  height: 100%;
}

.discographie .degrade {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(transparent, rgba(153, 32, 47, 0.75));
}

.discographie .container-fluid {
  padding: 1em;
}
.discographie .container-fluid,
.discographie .row {
  position: relative;
  height: 100%;
}

.discographie h1 {
  color: white;
  font-family: "Cinzel", serif;
}

.discographie h2 {
  color: #99202f;
  font-family: "Cinzel", serif, bold;
}

.discographie .li {
  color: rgb(67, 64, 64);
  font-family: "Cinzel", serif;
}

.discographie p {
  color: rgb(181, 181, 181);
  font-family: "Hind Madurai", sans-serif;
}

.discographie .album {
  margin-top: 20px;
  margin-bottom: 20px;
}

.discographie .image.split {
  width: 100%;
  margin-top: 20px;
}

@media (min-width: 576px) {
  .discographie .album {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .discographie .image.split {
    margin-top: 0px;
  }
}

.discographie footer {
  background-color: #99202f;
  position: absolute;
  top: 800%;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
}
