@import url("accueil.css");
@import url("discographie.css");

:root {
  --bg: #fff;
  --text: black;
  --primary: #99202f;
  --primary-alt: #c63f50;
  --secondary: #3e3b3b;
  --secondary-alt: #d6d6d6;
  --title: "Cinzel";
  --regular: "Hind Madurai";
}

/*/ Modals/*/
.maloney_btn {
  border: none;
  outline: 0 !important;
  background-color: transparent;
  color: white;
}

.rebecca_btn {
  border: none;
  outline: 0 !important;
  background-color: transparent;
  color: white;
}

.quiz_btn {
  border: none;
  outline: 0 !important;
  background-color: transparent;
  color: white;
}

.link {
  color: white !important;
}

.modal-header {
  border: none;
  outline: 0 !important;
  background: #c63f50;
}

.modal-header h3 {
  color: white;
}

.question {
  margin-bottom: 30px;
  display: none;
}

.is-visible {
  display: block;
}
